.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.appPosts__right {
  margin-left: 20px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
.app__header {
  background-color: white;
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
}

.post__comments {
  padding: 20px;
}

.app > center > h3 {
  margin: 20px auto;
}
